In [41]:
%load_ext autotime
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = [12, 6]

In [2]:
data = pd.read_csv('ai-fall20/4. Feature Eng/08. Date Enc/3. Exercise/daily-temperatures.csv')

In [40]:
from hcrystalball.wrappers import ProphetWrapper
from hcrystalball.metrics import *

In [4]:
from datetime import *
from dateutil.parser import parse
data.Date = data.Date.apply(lambda x: pd.to_datetime(x,
    format='%Y-%m-%dT',
    errors='coerce'))

In [5]:
df = data

df.Date = df.Date.astype('str')
df.Date = df.Date.apply(lambda x: parse(x))
df.Date = df.Date.apply(lambda x: pd.to_datetime(x,
    format='%Y-%m-%dT',
    errors='coerce'))
df['day'] = df.Date.dt.day
df['month'] = df.Date.dt.month
df['weekday'] = df.Date.dt.weekday
df['year'] = df.Date.dt.year

In [6]:
data.head()

        Date  Temp  day  month  weekday  year
0 1981-01-01  20.7    1      1        3  1981
1 1981-01-02  17.9    2      1        4  1981
2 1981-01-03  18.8    3      1        5  1981
3 1981-01-04  14.6    4      1        6  1981
4 1981-01-05  15.8    5      1        0  1981

In [7]:
print(data.head())
print(df.head())

        Date  Temp  day  month  weekday  year
0 1981-01-01  20.7    1      1        3  1981
1 1981-01-02  17.9    2      1        4  1981
2 1981-01-03  18.8    3      1        5  1981
3 1981-01-04  14.6    4      1        6  1981
4 1981-01-05  15.8    5      1        0  1981
        Date  Temp  day  month  weekday  year
0 1981-01-01  20.7    1      1        3  1981
1 1981-01-02  17.9    2      1        4  1981
2 1981-01-03  18.8    3      1        5  1981
3 1981-01-04  14.6    4      1        6  1981
4 1981-01-05  15.8    5      1        0  1981

In [8]:
df = df.set_index('Date')

In [9]:
df

            Temp  day  month  weekday  year
Date
1981-01-01  20.7    1      1        3  1981
1981-01-02  17.9    2      1        4  1981
1981-01-03  18.8    3      1        5  1981
1981-01-04  14.6    4      1        6  1981
1981-01-05  15.8    5      1        0  1981
...          ...  ...    ...      ...   ...
1990-12-27  14.0   27     12        3  1990
1990-12-28  13.6   28     12        4  1990
1990-12-29  13.5   29     12        5  1990
1990-12-30  15.7   30     12        6  1990
1990-12-31  13.0   31     12        0  1990

[3650 rows x 5 columns]

In [10]:
train = data[data["year"] < 1990]
test = data[data["year"] == 1990]

In [11]:
pw = ProphetWrapper()

In [23]:
X = df.drop(columns=['Temp'], axis=1)
y = df.Temp
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=0, shuffle=False)

In [24]:
X_train.head()

            day  month  weekday  year
Date
1981-01-01    1      1        3  1981
1981-01-02    2      1        4  1981
1981-01-03    3      1        5  1981
1981-01-04    4      1        6  1981
1981-01-05    5      1        0  1981

In [25]:
pw.fit(X_train, y_train)

ProphetWrapper(changepoint_prior_scale=0.05, changepoint_range=0.8,
               changepoints=None, clip_predictions_lower=None,
               clip_predictions_upper=None, conf_int=False,
               daily_seasonality='auto', extra_holidays=None,
               extra_regressors=None, extra_seasonalities=None, fit_params=None,
               full_prophet_output=False, growth='linear', holidays=None,
               holidays_prior_scale=10.0, interval_width=0.8, mcmc_samples=0,
               n_changepoints=25, name='prophet', seasonality_mode='additive',
               seasonality_prior_scale=10.0, stan_backend=None,
               uncertainty_samples=1000, weekly_seasonality='auto',
               yearly_seasonality='auto')

In [32]:
dataframe = pw.predict(X_test)

In [33]:
dataframe.head()

              prophet
Date
1989-01-01  15.543679
1989-01-02  15.845297
1989-01-03  15.997142
1989-01-04  16.054282
1989-01-05  15.936858

In [46]:
from sklearn.metrics import mean_squared_error
import math

# actual = [0, 1, 2, 0, 3]
# predicted = [0.1, 1.3, 2.1, 0.5, 3.1]

# mse = sklearn.metrics.mean_squared_error(actual, predicted)

# rmse = math.sqrt(mse)

mse = mean_squared_error(y_test, dataframe.prophet)
print(math.sqrt(mse))

2.9195356570757043
time: 1.63 ms

In [34]:
data.head()

        Date  Temp  day  month  weekday  year
0 1981-01-01  20.7    1      1        3  1981
1 1981-01-02  17.9    2      1        4  1981
2 1981-01-03  18.8    3      1        5  1981
3 1981-01-04  14.6    4      1        6  1981
4 1981-01-05  15.8    5      1        0  1981

In [38]:
X = data.drop(columns=['year'], axis=1)
y = data.year

In [39]:
pw.fit(X,y)

ValueError: `X` must contain index of type datetime. Your index is RangeIndex(start=0, stop=3650, step=1)